.location_list {
  height: calc(100% - 90px);
  .inner_list {
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 16px;
    max-height: 100%;
    box-sizing: border-box;
  }
  .item + .item {
    margin-top: 17px;
  }
  .button {
    display: block;
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    text-align: left;
  }
  .title {
    @include font-type('16-22', 500);
    display: block;
    margin-bottom: 4px;
    color: $gray-50;
  }
  .location {
    @include font-type('12-18');
    color: rgba($gray-50, 0.5);
  }
}
