.gathering_title {
  position: relative;
  padding: 0 45px 0 16px;
  .title {
    @include font-type('24-30');
    display: block;
    color: $gray-50;
  }
  .date {
    @include font-type('14-24', 500);
    color: $gray-50;
  }
  .button {
    position: absolute;
    top: 4px;
    right: 13px;
    padding: 3px;
  }
  .refresh_icon {
    width: 24px;
    height: 24px;
    color: $gray-50;
  }
}
