.gathering_title {
  position: relative;
  padding: 0 45px 0 16px;
  .title {
    @include font-type('24-30');
    display: block;
    color: $gray-50;
  }
  .edit_button {
    display: inline-block;
    padding: 8px 6px 6px;
    vertical-align: top;
    .icon {
      color: rgba($gray-50, 0.5);
    }
  }
  .description {
    @include font-type('14-24', 500);
    color: $gray-400;
  }
  .button {
    @include font-type('16-22', 500);
    position: absolute;
    top: 4px;
    right: 13px;
    padding: 3px;
    .icon {
      width: 24px;
      height: 24px;
      color: $gray-50;
    }
    &.revise {
      color: $gray-50;
    }
    &.delete,
    &.getout {
      color: $red;
    }
    &.complete {
      color: $green;
    }
    &:disabled {
      color: $gray-400;
    }
  }
  &:global(.share_page) {
    .description {
      color: $gray-50;
    }
  }
}
