.layer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  .inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 16px;
    border-radius: 20px 20px 0 0;
    background-color: $gray-800;
  }
  // 장소검색레이어
  &.location_search_input .inner {
    top: 87px;
  }
}
