.photo_card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  .thumbnail {
    position: relative;
    padding-top: 100%;
    background-color: $gray-300;
    &:after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 35%,
        rgba(0, 0, 0, 0.2) 100%
      );
      content: '';
    }
  }
  .image {
    position: absolute;
    top: -100%;
    right: -100%;
    bottom: -100%;
    left: -100%;
    width: auto;
    height: 100%;
    margin: auto;
  }
  .like_button {
    position: absolute;
    top: 8px;
    left: 8px;
    display: inline-flex;
    align-items: center;
    height: 22px;
    padding: 0 6px;
    border-radius: 13px;
    background-color: $gray-500;
    .icon {
      width: 15px;
      height: 15px;
      margin-right: 3px;
      color: $gray-50;
    }
    .number {
      @include number-font-type('14-20');
      color: $gray-50;
    }
  }
  .user_thumbnail {
    overflow: hidden;
    position: absolute;
    bottom: 8px;
    left: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $gray-300;
  }
}
