.next_step_link {
  @include font-type('16-22', 600);
  display: block;
  padding: 0 68px;
  border-radius: 40px;
  background-color: $gray-300;
  line-height: 56px;
  color: $gray-700;
  text-align: center;
}
