.nickname_input {
  .label {
    @include font-type('16-22', 600);
    display: block;
    color: $gray-50;
  }
  .condition {
    @include font-type('14-24', 500);
    margin-bottom: 8px;
    color: $gray-400;
  }
  .input_area {
    position: relative;
  }
  .input {
    @include font-type('16-22', 600);
    display: block;
    width: 100%;
    height: 56px;
    padding: 0 64px 0 20px;
    box-sizing: border-box;
    border-radius: 40px;
    border: none;
    background-color: $gray-500;
    color: rgba($gray-50, 0.3);
    &:focus {
      outline: none;
    }
  }
  .icon_area {
    position: absolute;
    top: 16px;
    right: 26px;
  }
  .arrow_icon {
    width: 24px;
    height: 24px;
    color: $gray-700;
    transform: rotate(180deg);
  }
  .error_message {
    @include font-type('14-24', 500);
    margin-top: 8px;
    color: $red;
  }
}
