.profile_image {
  display: flex;
  justify-content: center;
  .inner {
    position: relative;
    width: 80px;
    height: 80px;
  }
  .thumbnail {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background-color: $gray-500;
  }
  .image {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .label {
    position: relative;
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
  }
  .icon_area {
    position: absolute;
    right: -1px;
    bottom: -3px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: $gray-50;
    .icon {
      width: 16px;
      height: 16px;
      margin: 4px;
      color: $gray-700;
    }
  }
}
