.step_one {
  .title {
    @include font-type('24-30');
    max-width: 293px;
    margin: 50px 16px 0;
    color: $gray-50;
  }
  .wrap_profile_image {
    margin-top: 56px;
  }
  .wrap_nickname_input {
    margin: 32px 16px 0;
  }
}
