.share_modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  .inner {
    position: absolute;
    right: 36px;
    left: 36px;
    padding: 45px 13px 56px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    background: $gray-700;
  }
  .moime {
    position: absolute;
    right: 0;
    bottom: 25px;
    left: 0;
    height: 14px;
    background: url('../../../assets/png/text_moime.png') no-repeat center;
    background-size: auto 100%;
  }
}
