.friend_card {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  .thumbnail {
    flex: none;
    overflow: hidden;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 9px;
    border-radius: 50%;
    background-color: $gray-400;
  }
  .image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .nickname {
    @include ellipsis(1);
    @include font-type('16-22', 500);
    flex: 1 1 auto;
    color: $gray-50;
  }
  .mark {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $gray-500;
  }
  &.selected .mark::before {
    display: block;
    width: 16px;
    height: 16px;
    margin: 8px;
    border-radius: 50%;
    background-color: $green;
    content: '';
  }
}
