.step_three {
  .title {
    max-width: 293px;
    padding: 0 18px;
    margin: 268px auto 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    color: #000;
    text-align: center;
  }
}
