.step_one {
  .title {
    max-width: 293px;
    padding: 0 18px;
    margin: 37px auto 0;
    font-size: 25px;
    font-weight: 700;
    line-height: 32px;
    color: #000;
  }
  .wrap_profile_image {
    margin-top: 39px;
  }
  .wrap_nickname_input {
    max-width: 287px;
    margin: 39px auto 0;
    padding: 0 18px;
  }
}
